{% extends "kataleApp/base.html" %}
{% load static %}
{% block title %}welcome{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        h1{
            text-align: center;
        }
        
       .profile{
        background-color: rgb(50, 156, 197);
        height: 60vh;
        width: 27%;
        border-radius: 3px;
        position: relative;
        left: 40px;
        text-align: center;
        margin-left: 40px;
       }

       .your-product{
        background-color: aqua;
        height: 80vh;
        position: relative;
        width: 62%;
        left: 37%;
        top: -370px;
        border-radius: 2px;
        padding: 5px;
       }

        .dashboard{
            display: flex;
            flex-direction: row;
        }

        img {
            max-width: 100px; /* Adjust the logo/image size as needed */
            height: auto;
            display: block;
            margin-bottom: 10px;
        }

        .product-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .product-item {
            width: calc(33.33% - 10px); /* Adjust the width as needed */
            margin-bottom: 20px;
        }

        .name{
            font-weight: bolder;
            margin-bottom: 20px;
            font-size: larger;
            font-size: 40px;
            color: white;
        }

        .image{
            position: relative;
            left: 99px;
            margin-bottom: 5px;
            padding: 10;
        }

        .contact{
            background-color: orange;
            width: 100%;
            position: relative;
            height: 5vh;
            text-align: center; 
            font-size: 30px;
            padding: 20px;
            color: rgb(50, 156, 197);
            left: -40px;
            font-weight: bolder;
            top: 100px;
        }

        .product{
            border-bottom: solid;
            text-align: center;
            padding: 5px;
            color: white;
            border-color: rgb(50, 156, 197);
        }

        .my{
            position: relative;
            left: 77px;
        }

    </style>
</head>
<body>
    <h1>Welcome to Your Dashboard</h1>
    <div class="Dashboard">
    {% if businesses %}
        <!-- Display business details -->
        <h2 class="my">MY PROFILE</h2>
        <div class="profile"> <ul>
            <div class="within">
                {% for business in businesses %}
            <div class="image"><img src="{{business.logo.url}}" alt="{{business.name}}"></div>
                <div class="category">{{business.category}}</div>
               <div class="name">{{ business.name }}</div>
                <div class="location">{{ business.location }}</div>
                <div class="desc">{{ business.description }}</div>
                <div class="contact">{{ business.contact }}</div>
            {% endfor %}
            </div>
        </ul></div>
       
    {% else %}
        <!-- If no businesses are registered, show a message -->
        <p>No businesses registered yet. <a href="{% url 'kataleApp:BusinessForm' %}">Register a business</a></p>
    {% endif %}
    <div class="your-product">
    {% if products %}
        <!-- Display user's products -->
        <div class="product"><h2>My Products</h2></div>
        <div class="posted"><ul>`
            {% for product in products %}
            <img src="{{ product.image.url}}" alt="{{product.title}}">
                <li>{{ product.title }}</li>
                <li>{{ product.description }}</li>
                <li>{{ product.price }}</li>
            {% endfor %}
        </ul></div>
        <div class="add-product-button">
            <a href="{% url 'store:ProductForm' %}"><button>Add Product</button></a>
        </div>
    </div>  
    {% else %}
        <!-- If no products are uploaded, show a message -->
        <p>No products uploaded yet.<a href="{% url 'store:ProductForm' %}">Add Products</a></p>
    {% endif %}
    
</div>
</body>
</html>
{% endblock %}