{% extends "kataleApp/base.html" %}

{% block title %}Order Details{% endblock title %}

{% block content %}
    <h2>Order Details for {{ customer_name }}</h2>
    {% if orders %}
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Products</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.customer }}</td>
                        <td>
                            <ul>
                                {% for product in order.products.all %}
                                    <li>{{ product.title }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>shs{{ order.total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No orders found for {{ customer_name }}</p>
    {% endif %}
{% endblock content %}
