{% extends "kataleApp/base.html" %}
{% load static %}
{% block title %}welcome{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<style>
    body{
        background-color: rgb(247, 217, 161);
        height: 5vh;
        margin: 0;
        max-height: 500px; /* Set a maximum height */
        overflow-y: auto;
    }
    .red{
    color: rgb(50, 156, 197);
    position: relative;
    top: 0;
    left: 2px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.detail{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 50px;
    height: 1000%;
    font-size: x-large;
}
.photo img{
    height: 50hv;
    width: 100%;
    object-fit: fit;

}
.prod{
    padding: 20px;
    background-color: white;
    margin: 20px;
    width: 72%;
    display: flex;
    height: 75vh;
    box-shadow: 2px 2px 2px 2px rgb(125, 122, 129);
    margin-top: 90px;
}

.photo{
    width: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.order{
    background: rgb(50, 156, 197);
    width: 30%;
    text-align: center;
    margin-top: 10px;
    height: 10%;
    padding-bottom: 10px;
    color: white;
}
.price{
    font-weight: bolder;
    height: 7vh;
    text-decoration: center;
    width: 200px;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: -10px;
}

.title{
    margin-bottom: 2px;
}

h2{
    margin-bottom: 10px;
    color: red;
}
.box{
    display: flex;
    flex-direction: column;
    height: 82vh;
    background: white;
    width: 20%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(125, 122, 129);
    position: relative;
    right: -980px;
    top: -800px;
    margin-right: 20%;
}
.box img{
    background-color: orange;
    height: 100%;
   
}
.inside2{
    background-color: rgb(50, 156, 197);
    height: 30%;
    color: white;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 0px;
}

.two{
    font-size: 70px;
    font-weight: 1000px;
    align-items: center;
    font-family: Myriad Pro;
    margin: 20px;
}
.banner{
    background-color: rgb(50, 156, 197);
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 10px;
}
.tag{
    color: aliceblue;
    padding: 30px;
    font-size: xx-large;
}
h1{
    margin-top: 0;
}
.now{
    color: orange;
    padding: 40px;
    font-size: xx-large;
    font-weight: bolder;
}
.bag img{
    height: 50vh;
    position: relative;
    right: -100px;
}
.call{
    color: green;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
    <div class="prod">
        <div class="photo"><img src="{{ product.image.url }}" alt="{{ product.name }}"></div>
        <div class="detail"><div class="product-name"> <h1 class="red">{{ product.title }}</h1></div>
        <div class="description"> <div class="title"> <h2>Description:</h2></div> {{ product.description }}</div>
        <div class="price">Price: {{ product.price }}</div>
        <p class="call">Call now: {{ business_contact }}</p></div>
    </div>
    <div class="banner">
        <div class="tag"><h1>DO NOT <br> MISS</h1> Buy And Sell With Us</div>
        <div class="now">SHOP NOW <br>BE HAPPY</div>
        <div class="bag"> <img src="{% static 'images/bag.png' %}" alt="Example Image"></div>
    </div>
    <div class="box">
        <div class="inside2"><p class="two">KATALE ONLINE</p></div>
        <img src="{% static 'images/girl.png' %}" alt="Example Image">
    </div>
   
    </ul>
</body>
</html>
{% endblock %}