
{% load static %}
{% block title %}{% endblock %}
<!-- register.html -->
<form method="post">
    <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register Here</title>
<style>
    /* Optional custom styles */
    body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: whitesmoke;
}
.box{
    display: flex;
    flex-direction: column;
    height: 80vh;
    background: white;
    width: 20%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(125, 122, 129);
    margin-left: 0;
}
.inside2{
    background-color: rgb(50, 156, 197);
    height: 30%;
    color: white;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.box img{
    background-color: orange;
    height: 100%;
}
.two{
    font-size: 70px;
    font-weight: 1000px;
    align-items: center;
    font-family: Myriad Pro;
    margin: 20px;
}

.form{
    background-color: white;
    width: 90%;
    padding: 10px;
    height: 85vh;
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px rgb(125, 122, 129);

}
input[type="text"], input[type="email"], input[type="password"], textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
    }

.input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px orgba(0,0,0,0);
}
</style>
</head>
<body>
    <div class="form"> <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form></div>
    
    
   