<!-- search_results.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <p>Showing results for "{{ query }}":</p>
    <ul>
        {% if search_results %}
            {% for result in search_results %}
            <a href="{% url 'kataleApp:search_results' %}">
            <img src="{{ result.image.url }}" alt="{{ product.title }}">
                <li>{{ result.title }}</li>
                <li>{{ result.price }}</li>
                <li>{{ result.description }}</li>
            </a>
            {% endfor %}
        {% else %}
            <li>No results found.</li>
        {% endif %}
    </ul>
</body>
</html>
