{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %} | Katale Online</title>
        <meta name="description" content="sell and buy wherever you are!!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <style>
           nav {
            background-color:rgb(50, 156, 197) ;
            height: 10vh;
            width: 100%;
            font-size: x-large;
            position: fixed;
            margin-bottom: 50%;
            z-index: 9999;
            top: 0;

        }
    
        nav ul {
            list-style-type: none;
            padding: 0;
            margin-top: -15px;
            text-align: right;
        }
        nav ul li {
            margin-right: 20px;
            display: inline;
            margin-bottom: 10px;
            
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
            margin-bottom: 5px;
        }
        nav ul li a:hover {
            background-color: #ffd700;
        }
        
        .search-bar2 {
              text-align: center;
              position: relative;
              top: 15px;
              left: -10%;
              
        }     
          
            body{
              background: rgb(247, 217, 161);
              font-family: libre baskerville;
            }
            
            li a:hover {
              background-color: yellow;
            }
            h1{
              text-align: center;
            }
            .search-bar2 input{
              width: 40%;
              height: 5vh;
              border-radius: 5px;
            }

            
            </style>
    </head> 
    <body>
      <section class="nav1">
      <nav>
        <div class="search-bar2">
          <form action="{% url 'kataleApp:search_results' %}" method="GET">
            <input type="text" name="query" placeholder="Search">
            <button type="submit">Search</button>
        </form> 
        </div>  

        <ul>
            <li><a href="register">Sign up</a></li>
            <li><a href="{% url 'kataleApp:user_login' %}">Login</a></li>
    </ul>
      </nav>
    <div>
    </section>
    <div id="content">{% block content %}{% endblock %}</div>
  
    </body>
</html>