{% extends "./base.html" %}
{% load static %}
{% block title %}welcome{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/9726babb60.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<style>
    .zoomable-image {
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .zoomed-image {
        transform: scale(1.5);
    }
    body{
        margin: 0;
        padding: 0;   
    }
    
    .first{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.box2{
    display: flex;
    flex-direction: column;
    height: 80vh;
    background: white;
    width: 20%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(125, 122, 129);
}
.box2 img{
    background-color: orange;
    height: 100%;
}

.big{
    height: 100hv;
    background: orange;
    background-repeat: none;
    background-position: right;
    width: 60%;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgb(125, 122, 129);
    border: solid 0.5px;
    overflow: hidden;
    display: flex;
}
.small{
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 7px;
    font-weight: 800%;

}
.inside{
    padding: 20px;
}
.clip{
    clip-path: polygon(57% 0, 100% 0%, 100% 100%, 35% 100%);
    background-color: rgb(50, 156, 197);
    width: 100%;
}
.big img{
    width: 20%;
    height: 44vh;
    position: absolute;
    top: 270px;
    left: 490px;
    z-index: 999;
}

.price1{
    background: white;
    height: 7vh;
    text-decoration: center;
    width: 200px;
    text-align: center;
}

h1{
    position: absolute;
    color: white;
    left: 300px;
    font-size: 40px;
    font-weight: bolder;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    position: absolute;
    color: white;
    top: 30%;
    left: 310px;
    font-size: 34px;
    font-weight: lighter;

}
.inside2{
    background-color: rgb(50, 156, 197);
    height: 30%;
    color: white;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.two{
    font-size: 70px;
    font-weight: 999px;
    align-items: center;
    font-family: Myriad Pro;
    margin: 20px;
}

    .product-category {
        margin-bottom: 20px;
    }
    .product-card {
        display: inline-block; /* Display product cards inline */
        margin-right: 20px; /* Add some space between cards */
        border: 1px solid #ddd; /* Add border */
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add shadow */
        border-radius: 8px;
        overflow: hidden;
    }
    .product-image img {
        width: 100%; /* Make image fill its container */
        max-height: 200px; /* Limit max height */
        object-fit: cover; /* Cover the container */
    }
    .product-details {
        padding: 20px;
    }

    .title{
        background-color: rgb(50, 156, 197);
        width: 100%;
        text-align: center;
        height: 5vh;
        font-weight: bolder;
        font-size: x-large;
        color: white;
        position: relative;
    }

    .category{
        background-color: rgb(50, 156, 197);
        width: 100%;
        height: 9vh;
        font-size: xx-large;
        font-weight: bolder;
        padding-top: 10px;
        padding-left: 5px;
        color: white;
    }

    .first{
        margin-top: 60px;
    }

    .price{
        font-weight: bolder;
        font-size: x-large;
        color: rgb(50, 156, 197);
        margin-top: 20px;
        text-align: center;
    }
    .second{
        padding: 5px;
    }
    .product-card{
        box-shadow: 2px 2px 2px 2px rgb(125, 122, 129);
        margin-top: 5px;
        margin-bottom: 5px;
        width: 18%;
        height: 60vh;
        background-color: wheat;
    }

    .row{
        background-color: orange;
    }
    .last-section{
    background: rgb(50, 156, 197);
    height: 50vh;
    display: flex;
    padding: 40px;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
   }

   .footer-link-box{
    display: flex;
    flex: row;
    gap: 50px;
    background-color: rgb(48, 47, 47);
    color: aliceblue;
    height: 50vh;
   }
   .footer-bottom{
    background-color: aliceblue;
   }
   
</style>
<script>
    // Function to zoom in on product images
    function zoomImage(event) {
        const image = event.target;

        // Check if the image is already zoomed
        if (!image.classList.contains('zoomed')) {
            // Zoom in on the image
            image.classList.add('zoomed');
            image.style.transform = 'scale(1.5)';
        } else {
            // Zoom out on the image
            image.classList.remove('zoomed');
            image.style.transform = 'scale(1)';
        }
    }

    // Add event listener to product images for zoom effect
    const zoomableImages = document.querySelectorAll('.zoomable-image');
    zoomableImages.forEach(image => {
        image.addEventListener('click', zoomImage);
    });
</script>
<section class="first"> 
    <div class="box2">
        <div class="inside">
            <div class="small">
                <i class="fa-brands fa-shopify"></i>
                Shop Now
            </div>
            <div class="small">
                <i class="fa-brands fa-shopify"></i>
                Official Store
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
            <div class="small">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Phone & Tablets
            </div>
        </div>
    </div>
    <div class="big">
        <img src="{% static 'images/flat.png' %}" alt="Example Image">
        <h1>Our Best Prices Ever<br> With Top Notch Products</h1>
        <h3>Limited Offers</h3>
        <div class="clip"></div>
    </div>
    <div class="box2">
        <div class="inside2"><p class="two">KATALE ONLINE</p></div>
        <img src="{% static 'images/girl.png' %}" alt="Example Image">
    </div>
</section>


{% for category, products in grouped_products.items %}
<section class="second">
    <div class="product-category">
        <div class="category">{{ category }}</div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-group">
                    {% for product in products %}
                        <div class="product-card">
                        <a href="{% url 'kataleApp:product_details' product.id%}"> 
                            <div class="product-image">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                                {% endif %}
                            </div>
                        </a>
                            <div class="product-details">
                                <div class="title">{{ product.title }}</div>
                                <div class="price">Price: {{ product.price }}/=</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}
<footer class="footer">

    <div class="footer-top section">

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Contact Us</p>
            </li>

            <li>
              <address class="footer-link">
                <ion-icon name="location"></ion-icon>

                <span class="footer-link-text">
                  MakerereUni, Kampala, CO 80014, Uganda
                </span>
              </address>
            </li>

            <li>
              <a href="tel:+557343673257" class="footer-link">
                <ion-icon name="call"></ion-icon>

                <span class="footer-link-text">+256 751790957</span>
              </a>
            </li>

            <li>
              <a href="mailto:footcap@help.com" class="footer-link">
                <ion-icon name="mail"></ion-icon>

                <span class="footer-link-text">kataleonline@help.com</span>
              </a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">My Account</p>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">My Account</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">View Cart</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">Wishlist</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">Compare</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">New Products</span>
              </a>
            </li>

          </ul>

          <div class="footer-list">

            <p class="footer-list-title">Opening Time</p>

            <table class="footer-table">
              <tbody>

                <tr class="table-row">
                  <th class="table-head" scope="row">Mon - Tue:</th>

                  <td class="table-data">8AM - 10PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Wed:</th>

                  <td class="table-data">8AM - 7PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Fri:</th>

                  <td class="table-data">7AM - 12PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Sat:</th>

                  <td class="table-data">9AM - 8PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Sun:</th>

                  <td class="table-data">Closed</td>
                </tr>

              </tbody>
            </table>

          </div>

          <div class="footer-list">

            <p class="footer-list-title">Newsletter</p>

            <p class="newsletter-text">
              Authoritatively morph 24/7 potentialities with error-free partnerships.
            </p>

            <form action="" class="newsletter-form">
              <input type="email" name="email" required placeholder="Email Address" class="newsletter-input">

              <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>

          </div>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

      </div>
    </div>

  </footer>
{% endblock %}
</html>
