/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
  --rich-black-fogra-29: hsl(217, 28%, 9%);
  --gray-x-11-gray: hsl(0, 0%, 74%);
  --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
  --bittersweet: hsl(5, 100%, 69%);
  --smoky-black: rgb(7, 6, 1);
  --gainsboro: hsl(0, 0%, 88%);
  --black_90: hsla(0, 0%, 0%, 0.9);
  --cultured: hsl(200, 12%, 95%);
  --salmon: hsl(5, 100%, 73%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */
  
  --ff-roboto: 'Roboto', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;

  --fs-1: 3rem;
  --fs-2: 2.6rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /**
   * spacing
   */

  --section-padding: 60px;

}





/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}



::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }





/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3,
.h4 { color: var(--rich-black-fogra-29); }

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
  line-height: 1.5;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-4); }

.h4 {
  font-size: var(--fs-5);
  text-transform: uppercase;
}

/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer { 
  background-color: aquamarine; 

}

.footer-top { background: var(--cultured); }

.footer-brand {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--gainsboro);
  margin-bottom: 50px;
}

.footer-brand .logo { margin-bottom: 15px; }

.social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-link {
  background: var(--gainsboro);
  color: var(--onyx);
  font-size: 20px;
  padding: 10px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.footer-list-title {
  position: relative;
  color: var(--rich-black-fogra-29);
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 25px;
}

.footer-list-title::after {
  content: "";
  display: block;
  background: var(--bittersweet);
  width: 50px;
  height: 2px;
  margin-top: 10px;
}

.footer-link {
  color: var(--onyx);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 6px;
  transition: var(--transition-1);
}

a.footer-link:is(:hover, :focus) { color: var(--bittersweet); }

.footer-link-text { flex: 1; }

.footer-list:not(:last-child) { margin-bottom: 30px; }

.footer-list:first-child ion-icon {
  color: var(--bittersweet);
  font-size: 22px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-block: 6px;
}

.table-head {
  color: var(--rich-black-fogra-29);
  font-weight: var(--fw-500);
}

.table-data { color: var(--onyx); }

.newsletter-text {
  color: var(--onyx);
  line-height: 1.7;
  margin-bottom: 20px;
}

.newsletter-form { position: relative; }

.newsletter-input {
  background: var(--white);
  color: var(--onyx);
  padding: 15px 25px;
  padding-right: 120px;
}

.newsletter-form .btn-primary {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  padding-inline: 20px;
}

.footer-bottom {
  background: var(--rich-black-fogra-29);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  color: var(--white);
}

.copyright-link {
  display: inline-block;
  color: var(--bittersweet);
}





/*-----------------------------------*\
 * #GO TOP
\*-----------------------------------*/

.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--bittersweet);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border: 4px solid var(--white);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
  z-index: 2;
}

.go-top-btn.active {
  opacity: 1;
  visibility: visible;
}

.go-top-btn:is(:hover, :focus) { background: var(--salmon); }





/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }

  .has-scrollbar > li { min-width: calc(50% - 12.5px); }



  /**
   * HERO
   */

  .hero-text { font-size: var(--fs-7); }



  /**
   * PRODUCTS
   */

  .product-list { grid-template-columns: 1fr 1fr; }



  /**
   * CTA
   */

  .cta-card { text-align: left; }

  .cta-card .card-title { max-width: 14ch; }

  .cta-card .btn-link { margin-inline: 0; }



  /**
   * INSTA POST
   */

  .insta-post-list .insta-post-item { min-width: 25%; }



  /**
   * FOOTER
   */

  .footer-brand .logo { margin-bottom: 0; }

  .footer-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 3rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .h4 { --fs-5: 2rem; }



  /**
   * SPECIAL
   */

  .special-banner .banner-title { --fs-4: 2.2rem; }

  .special-product .has-scrollbar > li { min-width: 100%; }

  .special .container {
    display: flex;
    gap: 25px;
  }

  .special .section-title { margin-block-start: 0; }

  .special-banner,
  .special-product { min-width: calc(50% - 12.5px); }

  .special-banner { height: auto; }



  /**
   * INSTA POST
   */

  .insta-post-list .insta-post-item { min-width: 20%; }



  /**
   * GO TOP
   */

  .go-top-btn {
    padding: 15px;
    border-width: 6px;
    bottom: 30px;
    right: 30px;
  }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-3: 2.4rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 970px; }

  .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }



  /**
   * HEADER
   */

  .nav-open-btn,
  .nav-close-btn,
  .navbar .logo,
  .nav-action-text,
  .overlay { display: none; }

  .navbar,
  .navbar-list,
  .nav-action-list { all: unset; }

  .navbar-item:not(:last-child) { border: none; }

  .navbar-list,
  .nav-action-list { display: flex; }

  .nav-action-list { gap: 20px; }

  .navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-list {
    margin-inline: auto;
    gap: 35px;
  }

  .navbar-link {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-500);
  }

  .nav-action-list > li:first-child { display: block; }

  .nav-action-btn { position: relative; }

  .nav-action-badge ion-icon { --ionicon-stroke-width: 30px; }

  .nav-action-badge {
    position: absolute;
    top: 5px;
    right: -12px;
  }



  /**
   * HERO
   */

  .hero { height: 480px; }



  /**
   * PRODUCTS
   */

  .product-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * CTA
   */

  .cta-list {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .cta-card { padding-inline: 50px; }



  /**
   * SPECIAL
   */

  .special-banner { min-width: calc(33.33% - 25px); }

  .special-product { min-width: 66.66%; }

  .special-product .has-scrollbar > li { min-width: calc(50% - 12.5px); }



  /**
   * INSTA POST
   */

  .insta-post-list .insta-post-item { min-width: 16.666%; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5rem;
    --fs-2: 3.6rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1280px; }



  /**
   * HERO
   */

  .hero { height: 580px; }

  .hero .container { max-width: 1000px; }

  .hero-text {
    font-size: var(--fs-6);
    max-width: 50ch;
  }



  /**
   * PRODUCTS
   */

  .product-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * SPECIAL
   */

  .special-banner { min-width: calc(25% - 25px); }

  .special-product .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }

  .special-banner .banner-title { --fs-4: 2.4rem; }



  /**
   * SERVICE
   */

  .service-item { width: 275px; }

  .service-card .card-icon {
    min-width: 70px;
    height: 70px;
  }

  .service-card .card-title { --fs-6: 2rem; }



  /**
   * INSTA POST
   */

  .insta-post { padding-block-end: 0; }

  .insta-post-list .insta-post-item { min-width: 12.5%; }

  .insta-post-list { padding-bottom: 0; }



  /**
   * FOOTER
   */

  .footer-link-box {
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 50px;
  }

}