<!-- user_login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: orange;
    }

    .login-container {
        width: 300px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .login-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: calc(100% - 22px);
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    .login-form button[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .login-form button[type="submit"]:hover {
        background-color: #0056b3;
    }

    .remember-me {
        margin-bottom: 10px;
    }
</style>
</head>
<body>
<div class="login-container">
    <form class="login-form" method="POST">
        {% csrf_token %}
        <h2>Login</h2>
        <label for="id_username">Username:</label>
        {{ form.username }}
        <label for="id_password">Password:</label>
        {{ form.password }}
        <div class="remember-me">
            <input type="checkbox" id="id_remember" name="remember" checked>
            <label for="id_remember">Remember me</label>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
